.Tkinkter_Learning.py.swp
.idea/
.vscode/
09-25-2017.docx
Class_Regex_Legacy.py
Regex_Main.py
TKinter_Test.py
TSI_Regex.py
Tkinter_Learning.py
_.swp
__pycache__/
parch_print.py
print_test.py
regex_test.py
setup.py
